# Carpetas de datos
data/
wireguard/config/*

# Archivos de configuración sensible
.env

# Logs y temporales
*.log

# Excepciones
!wireguard/config/.gitkeep

push.sh

!fail2ban/
!fail2ban/data/
!fail2ban/data/jail.d/
!fail2ban/data/jail.d/*.conf
